<div class='user-details col-md-8'>
  <img class="avatar" src="<%= user.get('image_url') %>"</img>
  <p class='username'><%= user.get('username') %></p>
  <p>Traveling since <%= user.get('created_at') %></p>
  <div class="badges">
    <span class="badge"><%= user.reviews().length %> Reviews</span>
    <span class="badge"><%= user.wants().length %> Wants</span>
  </div>
  <% if (user.get('current_user')) { %>
    <br><br><br><br><button type='button' class='btn btn-primary'>Upload Avatar</button>
  <% } %>
</div>

<div class='user-want-list-background col-md-4'>
  <h4 id="todo-list-title">Want To Do List</h4>
  <div class='user-want-list col-md-12'>
  </div>
</div>

<div class='col-md-8'>
  <h3 id="user-review-title">My Reviews</h3>
  <hr id="user-review-title-bar">
  <div class="user-reviews"></div>
</div>
