<div class= 'avatar-thumb' style=
  '<%= 'background-image: url(' + user.get('image_url') + ');' %>'>
</div>
<p class='review-username'><a href="<%= '#/users/' + user.get('id') %>"><%= user.get('username') %></a></p>
<p class='review-date'><%= review.get('created_at') %></p>
<div class='review-star-rating'></div>
<p class='review-body'><%= review.escape('body') %></p>
