<h4 class='activitity-detail-name'><%= activity.escape('title') %></h4>
<div>
  <div class="activity-picture-container">
    <img class='activity-picture-details'src="<%= activity.escape('image_url') %>">
  </div>
  <p><%= activity.escape('location') %></p>

  <p><%= activity.escape('description') %></p>
  <p> <%= numReviews %> reviews</p>

  <div class='activity-detail-stars'></div>

  <input type="button" class='want-to-do btn btn-success' value="Want to do">
  <input type="button" class='want-to-do btn btn-success' value="Write a Review">
</div>
